@(message: String)

@main("Welcome to Play 2.1") {
    
    <div id="fb-root"></div>
	<script>
        /*
	  // Additional JS functions here
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '600170073327896', // App ID
	      channelUrl : '//localhost/assets/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });
	
	    // Additional init code here
	    FB.getLoginStatus(function(response) {
    	  if (response.status === 'connected') {
    	    // connected
    	    console.log("Connected");
    	  } else if (response.status === 'not_authorized') {
    	    // not_authorized
    	    console.log("Not auth");
    	    login();
    	  } else {
    	    // not_logged_in
    	    console.log("Not logged in");
    	    login();
    	  }
    	 });
	    
	  };
	  
	  function login() {
		    FB.login(function(response) {
		        if (response.authResponse) {
		            // connected
		        } else {
		            // cancelled
		        }
		    });
		}
	
	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
          */

       $(document).ready(function() {
         console.log(document.location.host)
         var websocket = new WebSocket("ws://" + document.location.host + "/ws");
         websocket.onopen = function(evt) {
            console.log("Connected to the server");
            websocket.send('{ "auth" : { "id" : "2", "token" : "2" } }');
            websocket.send('{ "location" : { "longitude" : 1.0, "latitude" : 1.0, "radius" : 1.0 } }');
         };
         websocket.onmessage = function(evt) { console.log("Message arrived: " + evt.data); }
         websocket.onerror = function(evt) { console.error("Error!!!" + evt.data); };
         websocket.onclose = function(evt) { console.log("DISCONNECTED"); }

       })
	</script>
    
    
}
